providers:
  Example: 'https://example.com/clash/example.yaml'
use-provider: Example
mmdb-download-url: 'https://cdn.jsdelivr.net/gh/Hackl0us/GeoIP2-CN@release/Country.mmdb'
core-download-url: 'https://opt.cn2qq.com/opt-file/clash'
dashboard-download-url: 'https://opt.cn2qq.com/opt-file/clash_webs.tgz'
clashori:
  redir-port: 17894
  mixed-port: 17893
  allow-lan: true
  mode: rule
  log-level: info
  bind-address: '*'
  ipv6: false
  external-controller: 0.0.0.0:17900
  external-ui: webui
  secret: Th1sI5aPassW9
  dns:
    enable: true
    listen: 0.0.0.0:10053
    ipv6: false
    enhanced-mode: fake-ip
    fake-ip-range: 198.18.0.1/16
rules-insert:
  - DST-PORT,6881,REJECT
clash-core-path: /sbin/clash
clash-config-path: /etc/config/clash
connectivity-portal: https://connect.rom.miui.com/generate_204
